<div id="user-list">
<h1>Listing statuses</h1>

<table>
  <tr>
    <th>Statusid</th>
    <th>Text</th>
    <th>Usr</th>
    <th>Date</th>
    <th>Time</th>
  </tr>

<% for status in @statuses %>
  <tr class="<%= cycle('list-line-odd','list-line-even')%>">
    <td><%=h status.statusID %></td>
    <td><%=h status.text %></td>
    <td><%=h status.usr %></td>
    <td><%=h status.date %></td>
    <td><%=h status.time %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New status', new_status_path %>
